@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --bg-color: rgb(15, 17, 31);
    --bg-qr-code-color: rgb(39, 42, 66);
    --corner-radius: 21px;
    --fg-color: rgb(189, 189, 189);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
}

p {
    color: var(--fg-color);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-code__container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 50px;
    border-radius: var(--corner-radius);
    background-color: var(--bg-qr-code-color);
    width: min-content;
    height: min-content;
}

.qr-code__bg-image-container {
    background-color: var(--bg-color);
    width: 330px;
    height: 330px;
    margin: 18px;
    border-radius: var(--corner-radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-code__image {
    color: var(--fg-color);
}

.qr-code__text-container {
    width: 80%;
    margin-bottom: 25px;
}

.title__bold {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.description {
    text-align: center;
    margin: 20px 0;
}

a {
    color: var(--fg-color);
    font-weight: 600;
    text-decoration-line: none;
}